<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY3JC0eYoFFD9LVque0tZIU_D7BGd-It8</string>
	<key>GCM_SENDER_ID</key>
	<string>373624235591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.SoccerWorkout</string>
	<key>PROJECT_ID</key>
	<string>betano-soccer-workout</string>
	<key>STORAGE_BUCKET</key>
	<string>betano-soccer-workout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373624235591:ios:4842c7bbb38bb522597362</string>
</dict>
</plist>